# Dagzo OS GRUB configuration
# /etc/default/grub.d/dagzo.cfg yoki /etc/default/grub ga qo'shiladi

GRUB_DISTRIBUTOR="Dagzo"
GRUB_DEFAULT=0
GRUB_TIMEOUT=3
GRUB_TIMEOUT_STYLE=menu

# Background image (boot.png dan convert qilingan TGA/PNG)
# GRUB_BACKGROUND="/boot/grub/dagzo-grub.png"

# Dagzo dark theme
GRUB_COLOR_NORMAL="light-blue/black"
GRUB_COLOR_HIGHLIGHT="white/dark-blue"

# GRUB menu title
GRUB_DISTRIBUTOR="Dagzo OS"

# Quiet boot
GRUB_CMDLINE_LINUX_DEFAULT="quiet splash"
GRUB_CMDLINE_LINUX=""

# Terminal
GRUB_TERMINAL_INPUT="console"
GRUB_TERMINAL_OUTPUT="gfxterm"
GRUB_GFXMODE="1920x1080x32,1280x720x32,auto"
GRUB_GFXPAYLOAD_LINUX="keep"
